<div id="rec218326699" class="r t-rec t-rec_pt_135 t-rec_pb_165"
     style="padding-top:135px;padding-bottom:165px;background-color:#ffffff; " data-animationappear="off"
     data-record-type="844" data-bg-color="#ffffff">
    <!-- t844 -->
    <div class="t844">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs t-animate" data-animate-style="fadeinleft"
                         data-animate-group="yes" field="btitle">Почему именно мы?
                    </div>
                </div>
            </div>
        </div>
        <div class="t-container">
            <div class="t844__col t-col t-col_4 t-align_center t-item t-animate" data-animate-style="zoomin"
                 data-animate-chain="yes">
                <div class="t844__wrappercenter ">
                    <div class="t-heading t-heading_md" style="" field="li_title__1531137250635">Опытные
                        специалисты
                    </div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531137250635">У наших мастеров
                        большой опыт за спиной.<br/></div>
                </div>
            </div>
            <div class="t844__col t-col t-col_4 t-align_center t-item t-animate" data-animate-style="zoomin"
                 data-animate-chain="yes">
                <div class="t844__wrappercenter ">
                    <div class="t-heading t-heading_md" style="" field="li_title__1531137263951">Бесплатная
                        диагностика<br/></div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531137263951">Сервисный центр Premium
                        Apple Services предлагает бесплатную диагностику техники.
                    </div>
                </div>
            </div>
            <div class="t844__col t-col t-col_4 t-align_center t-item t-animate" data-animate-style="zoomin"
                 data-animate-chain="yes">
                <div class="t844__wrappercenter ">
                    <div class="t-heading t-heading_md" style="" field="li_title__1531137278040">Оригинальные
                        запчасти
                    </div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531137278040">В нашем сервисе
                        используются оригинальные запчасти от надежных поставщиков<br/></div>
                </div>
            </div>
            <div class="t-clear t844__separator" style=""></div>
            <div class="t844__col t-col t-col_4 t-align_center t-item t-animate" data-animate-style="zoomin"
                 data-animate-chain="yes">
                <div class="t844__wrappercenter ">
                    <div class="t-heading t-heading_md" style="" field="li_title__1531137295061">Конфиденциальность
                        данных
                    </div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531137295061">Мы строго соблюдаем
                        закон о персональных данных и гарантируем конфиденциальность Вашей информации.
                    </div>
                </div>
            </div>
            <div class="t844__col t-col t-col_4 t-align_center t-item t-animate" data-animate-style="zoomin"
                 data-animate-chain="yes">
                <div class="t844__wrappercenter ">
                    <div class="t-heading t-heading_md" style="" field="li_title__1531137309241">Выезд мастера</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531137309241">Так же наши мастера
                        могу выехать к Вам в любую точку Москвы.
                    </div>
                </div>
            </div>
            <div class="t844__col t-col t-col_4 t-align_center t-item t-animate" data-animate-style="zoomin"
                 data-animate-chain="yes">
                <div class="t844__wrappercenter ">
                    <div class="t-heading t-heading_md" style="" field="li_title__1531137326480">Гарантия
                        качества<br/></div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1531137326480">На любой ремонт техники
                        у нас предоставляется гарантия.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>