<div class='t396'>
    <div class="t396__artboard" data-artboard-recid="221131555" data-artboard-height="1590"
         data-artboard-height-res-960="2180" data-artboard-height-res-480="2220" data-artboard-height_vh=""
         data-artboard-valign="center" data-artboard-upscale="" data-artboard-ovrflw="">
        <div class="t396__carrier" data-artboard-recid="221131555"></div>
        <div class="t396__filter" data-artboard-recid="221131555"></div>
        <div class='t396__elem tn-elem tn-elem__2211315551470209944682' data-elem-id='1470209944682'
             data-elem-type='text' data-field-top-value="50" data-field-left-value="346"
             data-field-width-value="580" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1470209944682'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597612778311' data-elem-id='1597612778311'
             data-elem-type='image' data-field-top-value="210" data-field-top-res-960-value="140"
             data-field-top-res-640-value="140" data-field-top-res-480-value="140"
             data-field-top-res-320-value="230" data-field-left-value="0" data-field-left-res-960-value="460"
             data-field-left-res-640-value="70" data-field-left-res-480-value="0"
             data-field-left-res-320-value="0" data-field-width-value="500" data-field-width-res-480-value="477"
             data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="" data-animate-sbs-event="click"
             data-animate-sbs-opts="[{'ti':'0','mx':'0','my':'0','sx':'1','sy':'1','op':'1','ro':'0','bl':'0','ea':'','dt':'0'}]"
             data-field-filewidth-value="1680" data-field-fileheight-value="961">
            <div class='tn-atom'><img class='tn-atom__img t-img'
                                      data-original='https://static.tildacdn.com/tild3239-3332-4165-a362-336438326565/iphonemobileloasda.jpg'
                                      imgfield='tn_img_1597612778311'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597613167130 t-animate' data-elem-id='1597613167130'
             data-elem-type='image' data-field-top-value="470" data-field-top-res-960-value="745"
             data-field-top-res-640-value="745" data-field-top-res-480-value="755" data-field-left-value="340"
             data-field-left-res-960-value="440" data-field-left-res-640-value="60"
             data-field-left-res-480-value="0" data-field-width-value="520" data-field-width-res-480-value="480"
             data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="" data-animate-style="zoomin"
             data-animate-duration="1" data-animate-scale="0.9" data-field-filewidth-value="1680"
             data-field-fileheight-value="961">
            <div class='tn-atom'><img class='tn-atom__img t-img'
                                      data-original='https://static.tildacdn.com/tild6330-3732-4635-b436-383032636665/ipad.jpg'
                                      imgfield='tn_img_1597613167130'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597613259940 t-animate' data-elem-id='1597613259940'
             data-elem-type='image' data-field-top-value="210" data-field-top-res-960-value="430"
             data-field-top-res-640-value="430" data-field-top-res-480-value="430"
             data-field-top-res-320-value="520" data-field-left-value="700" data-field-left-res-960-value="0"
             data-field-left-res-640-value="70" data-field-left-res-480-value="0"
             data-field-left-res-320-value="0" data-field-width-value="500" data-field-width-res-480-value="477"
             data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="" data-animate-style="zoomin"
             data-animate-duration="1" data-animate-scale="0.9" data-field-filewidth-value="1024"
             data-field-fileheight-value="586">
            <div class='tn-atom'><img class='tn-atom__img t-img'
                                      data-original='https://static.tildacdn.com/tild3036-3865-4333-b362-373366396633/makbook.jpg'
                                      imgfield='tn_img_1597613259940'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597613325397 t-animate'
             data-elem-id='1597613325397'
             data-elem-type='image'
             data-field-top-value="825"
             data-field-top-res-960-value="1035"
             data-field-top-res-640-value="1035"
             data-field-top-res-480-value="1035"
             data-field-left-value="0"
             data-field-left-res-960-value="0"
             data-field-left-res-640-value="70"
             data-field-left-res-480-value="0"
             data-field-width-value="500"
             data-field-width-res-480-value="477"
             data-field-width-res-320-value="320"
             data-field-axisy-value="top"
             data-field-axisx-value="left"
             data-field-container-value="grid"
             data-field-topunits-value=""
             data-field-leftunits-value=""
             data-field-heightunits-value=""
             data-field-widthunits-value=""
             data-animate-style="zoomin"
             data-animate-duration="1"
             data-animate-scale="0.9"
             data-field-filewidth-value="1680"
             data-field-fileheight-value="961">
            <div class='tn-atom'><img
                    class='tn-atom__img t-img'
                    data-original='https://static.tildacdn.com/tild3131-6661-4033-b134-326632346636/sarsassa2.jpg'
                    imgfield='tn_img_1597613325397'>
            </div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597613351954 t-animate' data-elem-id='1597613351954'
             data-elem-type='image' data-field-top-value="800" data-field-top-res-960-value="1325"
             data-field-top-res-640-value="1325" data-field-top-res-480-value="1325" data-field-left-value="700"
             data-field-left-res-960-value="460" data-field-left-res-640-value="70"
             data-field-left-res-480-value="0" data-field-width-value="500" data-field-width-res-480-value="477"
             data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="" data-animate-style="zoomin"
             data-animate-duration="1" data-animate-scale="0.9" data-field-filewidth-value="1680"
             data-field-fileheight-value="961">
            <div class='tn-atom'><img class='tn-atom__img t-img'
                                      data-original='https://static.tildacdn.com/tild6135-6633-4966-b930-303964646439/iwhatch2.jpg'
                                      imgfield='tn_img_1597613351954'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597615060237' data-elem-id='1597615060237'
             data-elem-type='image' data-field-top-value="1130" data-field-top-res-960-value="1890"
             data-field-top-res-640-value="1890" data-field-top-res-480-value="1910" data-field-left-value="0"
             data-field-left-res-960-value="460" data-field-left-res-640-value="70"
             data-field-left-res-480-value="0" data-field-width-value="500" data-field-width-res-480-value="477"
             data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="" data-field-filewidth-value="1680"
             data-field-fileheight-value="961">
            <div class='tn-atom'><img class='tn-atom__img t-img'
                                      data-original='https://static.tildacdn.com/tild6333-6164-4636-b533-363434666337/hua2.jpg'
                                      imgfield='tn_img_1597615060237'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699128603' data-elem-id='1597699128603'
             data-elem-type='image' data-field-top-value="1140" data-field-top-res-960-value="1628"
             data-field-top-res-640-value="1628" data-field-top-res-480-value="1628" data-field-left-value="700"
             data-field-left-res-960-value="0" data-field-left-res-640-value="70"
             data-field-left-res-480-value="2" data-field-width-value="500" data-field-width-res-480-value="477"
             data-field-width-res-320-value="320" data-field-axisy-value="top" data-field-axisx-value="left"
             data-field-container-value="grid" data-field-topunits-value="" data-field-leftunits-value=""
             data-field-heightunits-value="" data-field-widthunits-value="" data-field-filewidth-value="1680"
             data-field-fileheight-value="961">
            <div class='tn-atom'><img class='tn-atom__img t-img'
                                      data-original='https://static.tildacdn.com/tild3737-3764-4566-b138-633832663466/safsda32.jpg'
                                      imgfield='tn_img_1597699128603'></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699307633' data-elem-id='1597699307633'
             data-elem-type='text' data-field-top-value="245" data-field-top-res-960-value="240"
             data-field-top-res-640-value="180" data-field-top-res-480-value="185"
             data-field-top-res-320-value="280" data-field-left-value="170" data-field-left-res-960-value="600"
             data-field-left-res-640-value="250" data-field-left-res-480-value="150"
             data-field-left-res-320-value="50" data-field-width-value="70" data-field-axisy-value="top"
             data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
             data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699307633'><strong>iPhone</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699394441' data-elem-id='1597699394441'
             data-elem-type='text' data-field-top-value="270" data-field-top-res-960-value="545"
             data-field-top-res-640-value="495" data-field-top-res-480-value="490"
             data-field-top-res-320-value="590" data-field-left-value="730" data-field-left-res-960-value="40"
             data-field-left-res-640-value="130" data-field-left-res-480-value="50"
             data-field-left-res-320-value="20" data-field-width-value="97" data-field-width-res-320-value="100"
             data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
             data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value=""
             data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699394441'><strong>Makbook</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699468196' data-elem-id='1597699468196'
             data-elem-type='text' data-field-top-value="605" data-field-top-res-960-value="865"
             data-field-top-res-640-value="810" data-field-top-res-480-value="810"
             data-field-top-res-320-value="830" data-field-left-value="510" data-field-left-res-960-value="600"
             data-field-left-res-640-value="200" data-field-left-res-480-value="160"
             data-field-left-res-320-value="60" data-field-width-value="97" data-field-axisy-value="top"
             data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
             data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699468196'><strong>iPad</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699487554' data-elem-id='1597699487554'
             data-elem-type='text' data-field-top-value="875" data-field-top-res-960-value="1130"
             data-field-top-res-640-value="1085" data-field-top-res-480-value="1075"
             data-field-top-res-320-value="1080" data-field-left-value="100" data-field-left-res-960-value="120"
             data-field-left-res-640-value="190" data-field-left-res-480-value="110"
             data-field-left-res-320-value="40" data-field-width-value="97" data-field-axisy-value="top"
             data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
             data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699487554'><strong>iMac</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699528564' data-elem-id='1597699528564'
             data-elem-type='text' data-field-top-value="920" data-field-top-res-960-value="1425"
             data-field-top-res-640-value="1435" data-field-top-res-480-value="1405"
             data-field-top-res-320-value="1395" data-field-left-value="770" data-field-left-res-960-value="520"
             data-field-left-res-640-value="120" data-field-left-res-480-value="70"
             data-field-left-res-320-value="30" data-field-width-value="209" data-field-axisy-value="top"
             data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
             data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699528564'><strong>Apple Watch</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699543162' data-elem-id='1597699543162'
             data-elem-type='text' data-field-top-value="1205" data-field-top-res-960-value="1745"
             data-field-top-res-640-value="1745" data-field-top-res-480-value="1680"
             data-field-top-res-320-value="1690" data-field-left-value="830" data-field-left-res-960-value="140"
             data-field-left-res-640-value="160" data-field-left-res-480-value="120"
             data-field-left-res-320-value="50" data-field-width-value="97" data-field-width-res-320-value="60"
             data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
             data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value=""
             data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699543162'><strong>Samsung</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699551496' data-elem-id='1597699551496'
             data-elem-type='text' data-field-top-value="1190" data-field-top-res-960-value="2020"
             data-field-top-res-640-value="1965" data-field-top-res-480-value="1965"
             data-field-top-res-320-value="1990" data-field-left-value="160" data-field-left-res-960-value="600"
             data-field-left-res-640-value="180" data-field-left-res-480-value="140"
             data-field-left-res-320-value="50" data-field-width-value="97" data-field-axisy-value="top"
             data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value=""
             data-field-leftunits-value="" data-field-heightunits-value="" data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699551496'><strong>Huawei</strong></div>
        </div>
        <div class='t396__elem tn-elem tn-elem__2211315551597699801831' data-elem-id='1597699801831'
             data-elem-type='text' data-field-top-value="0" data-field-top-res-960-value="30"
             data-field-top-res-640-value="30" data-field-top-res-480-value="30"
             data-field-top-res-320-value="30" data-field-left-value="418" data-field-left-res-960-value="298"
             data-field-left-res-640-value="138" data-field-left-res-480-value="58"
             data-field-left-res-320-value="0" data-field-width-value="365" data-field-width-res-320-value="320"
             data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
             data-field-topunits-value="" data-field-leftunits-value="" data-field-heightunits-value=""
             data-field-widthunits-value="">
            <div class='tn-atom' field='tn_text_1597699801831'><strong>Выберите модель</strong></div>
        </div>
    </div>
</div>