<div id="rec225803026" class="r t-rec t-rec_pt_15" style="padding-top:15px;background-color:#171717; "
         data-animationappear="off" data-record-type="396" data-bg-color="#171717">
        <!-- T396 -->
        <style>#rec225803026 .t396__artboard {
            height: 325px;
            background-color: #171717;
        }

        #rec225803026 .t396__filter {
            height: 325px;
        }

        #rec225803026 .t396__carrier {
            height: 325px;
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media screen and (max-width: 1199px) {
            #rec225803026 .t396__artboard {
                height: 155px;
            }

            #rec225803026 .t396__filter {
                height: 155px;
            }

            #rec225803026 .t396__carrier {
                height: 155px;
                background-attachment: scroll;
            }
        }

        @media screen and (max-width: 959px) {
            #rec225803026 .t396__artboard {
                height: 274px;
            }

            #rec225803026 .t396__filter {
                height: 274px;
            }

            #rec225803026 .t396__carrier {
                height: 274px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec225803026 .t396__artboard {
                height: 271px;
            }

            #rec225803026 .t396__filter {
                height: 271px;
            }

            #rec225803026 .t396__carrier {
                height: 271px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec225803026 .t396__artboard {
                height: 401px;
            }

            #rec225803026 .t396__filter {
                height: 401px;
            }

            #rec225803026 .t396__carrier {
                height: 401px;
            }
        }

        #rec225803026 .tn-elem[data-elem-id="1475143840125"] {
            color: #ffffff;
            z-index: 7;
            top: 68px;
            left: 100px;
            width: 280px;
        }

        #rec225803026 .tn-elem[data-elem-id="1475143840125"] .tn-atom {
            color: #ffffff;
            font-size: 18px;
            font-family: 'Arial', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 700;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec225803026 .tn-elem[data-elem-id="1475143840125"] {
                top: 4px;
                left: 11px;
                width: 232px;
            }

            #rec225803026 .tn-elem[data-elem-id="1475143840125"] .tn-atom {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec225803026 .tn-elem[data-elem-id="1475143840125"] {
                top: 85px;
                left: calc(50% - 320px + 13px);
                width: 300px;
            }

            #rec225803026 .tn-elem[data-elem-id="1475143840125"] {
                text-align: center;
            }
        }

        @media screen and (max-width: 639px) {
            #rec225803026 .tn-elem[data-elem-id="1475143840125"] {
                top: 130px;
                left: calc(50% - 240px + 10px);
                width: 200px;
            }

            #rec225803026 .tn-elem[data-elem-id="1475143840125"] .tn-atom {
                font-size: 12px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec225803026 .tn-elem[data-elem-id="1475143840125"] {
                top: 160px;
                left: calc(50% - 160px + 10px);
                width: 300px;
            }
        }

        #rec225803026 .tn-elem[data-elem-id="1598974639801"] {
            color: #ffffff;
            z-index: 14;
            top: 0px;
            left: calc(50% - 600px + 380px);
            width: 441px;
        }

        #rec225803026 .tn-elem[data-elem-id="1598974639801"] .tn-atom {
            color: #ffffff;
            font-size: 39px;
            font-family: 'Roboto', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec225803026 .tn-elem[data-elem-id="1598974639801"] {
                top: 10px;
                left: calc(50% - 480px + 260px);
            }
        }

        @media screen and (max-width: 959px) {
            #rec225803026 .tn-elem[data-elem-id="1598974639801"] {
                top: 10px;
                left: calc(50% - 320px + 130px);
            }
        }

        @media screen and (max-width: 639px) {
            #rec225803026 .tn-elem[data-elem-id="1598974639801"] {
                top: 30px;
                left: calc(50% - 240px + 30px);
            }
        }

        @media screen and (max-width: 479px) {
            #rec225803026 .tn-elem[data-elem-id="1598974639801"] {
                top: 50px;
                left: calc(50% - 160px + 7px);
                width: 307px;
            }

            #rec225803026 .tn-elem[data-elem-id="1598974639801"] .tn-atom {
                font-size: 28px;
            }
        }

        #rec225803026 .tn-elem[data-elem-id="1598974897909"] {
            color: #ffffff;
            text-align: center;
            z-index: 15;
            top: 135px;
            left: calc(50% - 600px + 500px);
            width: 200px;
            height: 55px;
        }

        #rec225803026 .tn-elem[data-elem-id="1598974897909"] .tn-atom {
            color: #ffffff;
            font-size: 14px;
            font-family: 'Arial', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 600;
            border-width: 1px;
            border-radius: 30px;
            background-color: #ff7300;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }

        @media screen and (max-width: 1199px) {
            #rec225803026 .tn-elem[data-elem-id="1598974897909"] {
                top: 85px;
                left: calc(50% - 480px + 380px);
            }
        }

        @media screen and (max-width: 959px) {
            #rec225803026 .tn-elem[data-elem-id="1598974897909"] {
                top: 195px;
                left: calc(50% - 320px + 410px);
            }
        }

        @media screen and (max-width: 639px) {
            #rec225803026 .tn-elem[data-elem-id="1598974897909"] {
                top: 160px;
                left: calc(50% - 240px + 260px);
            }
        }

        @media screen and (max-width: 479px) {
            #rec225803026 .tn-elem[data-elem-id="1598974897909"] {
                top: 305px;
                left: calc(50% - 160px + 60px);
            }
        }</style>
        <div class='t396'>
            <div class="t396__artboard" data-artboard-recid="225803026" data-artboard-height="325"
                 data-artboard-height-res-960="155" data-artboard-height-res-640="274"
                 data-artboard-height-res-480="271" data-artboard-height-res-320="401" data-artboard-height_vh=""
                 data-artboard-valign="center" data-artboard-upscale="" data-artboard-ovrflw="">
                <div class="t396__carrier" data-artboard-recid="225803026"></div>
                <div class="t396__filter" data-artboard-recid="225803026"></div>
                <div class='t396__elem tn-elem tn-elem__2258030261475143840125' data-elem-id='1475143840125'
                     data-elem-type='text' data-field-top-value="68" data-field-top-res-960-value="4"
                     data-field-top-res-640-value="85" data-field-top-res-480-value="130"
                     data-field-top-res-320-value="160" data-field-left-value="100" data-field-left-res-960-value="11"
                     data-field-left-res-640-value="13" data-field-left-res-480-value="10"
                     data-field-left-res-320-value="10" data-field-width-value="280"
                     data-field-width-res-960-value="232" data-field-width-res-640-value="300"
                     data-field-width-res-480-value="200" data-field-width-res-320-value="300"
                     data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="window"
                     data-field-container-res-640-value="grid" data-field-topunits-value="px"
                     data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px">
                    <div class='tn-atom' field='tn_text_1475143840125'>Телефон:<br> +7 999 900 24 39<br>+7 926 016 04 54<br>
                        Email: <br> admin@premiumappleservice.ru <br> Время: <br> Пн - Сб 24/6
                    </div>
                </div>
                <div class='t396__elem tn-elem tn-elem__2258030261598974639801' data-elem-id='1598974639801'
                     data-elem-type='text' data-field-top-value="0" data-field-top-res-960-value="10"
                     data-field-top-res-640-value="10" data-field-top-res-480-value="30"
                     data-field-top-res-320-value="50" data-field-left-value="380" data-field-left-res-960-value="260"
                     data-field-left-res-640-value="130" data-field-left-res-480-value="30"
                     data-field-left-res-320-value="7" data-field-width-value="441" data-field-width-res-320-value="307"
                     data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
                     data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
                     data-field-widthunits-value="px">
                    <div class='tn-atom' field='tn_text_1598974639801'>Premium Apple Services</div>
                </div>
                <div class='t396__elem tn-elem tn-elem__2258030261598974897909' data-elem-id='1598974897909'
                     data-elem-type='button' data-field-top-value="135" data-field-top-res-960-value="85"
                     data-field-top-res-640-value="195" data-field-top-res-480-value="160"
                     data-field-top-res-320-value="305" data-field-left-value="500" data-field-left-res-960-value="380"
                     data-field-left-res-640-value="410" data-field-left-res-480-value="260"
                     data-field-left-res-320-value="60" data-field-height-value="55" data-field-width-value="200"
                     data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
                     data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
                     data-field-widthunits-value=""><a class='tn-atom' href="#rec221127032">Заказать звонок</a></div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                t396_init('225803026');
            });
        </script>
        <!-- /T396 -->
    </div>