<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/><!--metatextblock--><title>Premium Apple
    Services</title>
    <meta property="og:url" content="http://iservicepro.ru"/>
    <meta property="og:title" content="Premium Apple Services"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content="{% static '/images/tild3736-3037-4334-b863-353562353039__-__resize__504x__d946dbce69a24e0288d5.jpg' %}"/>
    <link rel="canonical" href="http://iservicepro.ru"><!--/metatextblock-->
    <meta property="fb:app_id" content="257953674358265"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="{% static '/images/tildafavicon.ico' %}" type="image/x-icon"/><!-- Assets -->
    <link rel="stylesheet" href="{% static '/css/tilda-grid-3.0.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/css/tilda-blocks-2.14.css' %}" type="text/css" media="all"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&subset=latin,cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/tilda-animation-1.0.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/css/tilda-menusub-1.0.min.css' %}" type="text/css" media="print"
          onload="this.media='all';"/>
    <noscript>
        <link rel="stylesheet" href="{% static '/css/tilda-menusub-1.0.min.css' %}" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="{% static '/css/tilda-slds-1.4.min.css' %}" type="text/css" media="print"
          onload="this.media='all';"/>
    <noscript>
        <link rel="stylesheet" href="{% static '/css/tilda-slds-1.4.min.css' %}" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="{% static '/css/tilda-zoom-2.0.min.css' %}" type="text/css" media="print"
          onload="this.media='all';"/>
    <noscript>
        <link rel="stylesheet" href="{% static '/css/tilda-zoom-2.0.min.css' %}" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="{% static '/css/tilda-cover-1.0.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/css/tilda-carousel-1.0.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/css/tilda-forms-1.0.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static '/css/tilda-popup-1.1.min.css' %}" type="text/css" media="print"
          onload="this.media='all';"/>
    <noscript>
        <link rel="stylesheet" href="{% static '/css/tilda-popup-1.1.min.css' %}'" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="{% static '/css/tilda-carousel-1.0.min.css' %}" type="text/css" media="print"
          onload="this.media='all';"/>
    <noscript>
        <link rel="stylesheet" href="{% static '/css/tilda-carousel-1.0.min.css' %}" type="text/css" media="all"/>
    </noscript>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/tilda-scripts-3.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-blocks-2.7.js' %}"></script>
    <script src="{% static 'js/lazyload-1.3.min.js' %}"></script>
    <script src="{% static 'js/tilda-animation-1.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-cover-1.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-events-1.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-menusub-1.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-slds-1.4.min.js' %}"></script>
    <script src="{% static 'js/hammer.min.js' %}"></script>
    <script src="{% static 'js/tilda-zoom-2.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.touchswipe.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tilda-forms-1.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-animation-sbs-1.0.min.js' %}"></script>
    <script src="{% static 'js/tilda-map-1.0.min.js' %}"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
        document.getElementsByTagName('head')[0].appendChild(style);
        $(document).ready(function () {
            $('.t-records').addClass('t-records_animated');
            setTimeout(function () {
                $('.t-records').addClass('t-records_visible');
                sessionStorage.setItem('visited', 'y');
            }, 400);
        });
    }</script>
</head>

