<div id="rec218481740" class="r t-rec" style=" " data-animationappear="off" data-record-type="456">
    <!-- T456 -->
    <div id="nav218481740marker"></div>
    <!-- menu -->
    <div id="nav218481740" class="t456 t456__positionstatic " style="background-color: rgba(0,0,0,1); height:50px; "
         data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,1)" data-navmarker="nav218481740marker"
         data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"
         data-menu-items-align="right" data-menu="yes">
        <div class="t456__maincontainer " style="height:50px;">
            <div class="t456__leftwrapper" style="min-width:90px;width:90px;">
                <div>
                    <div class="t456__logo t-title" field="title" style="color:#ffffff;">Premium Apple Services
                    </div>
                </div>
            </div>
            <div class="t456__rightwrapper t456__menualign_right" style="">
                <ul class="t456__list">
                    <li class="t456__list_item" style="padding:0 15px 0 0;"><a class="t-menu__link-item"
                                                                               href="#rec218307513"
                                                                               data-menu-submenu-hook=""
                                                                               style="color:#ffffff;font-weight:600;"
                                                                               data-menu-item-number="1">Главная</a>
                    </li>
                    <li class="t456__list_item" style="padding:0 15px;"><a class="t-menu__link-item"
                                                                           href="#rec228498428"
                                                                           data-menu-submenu-hook=""
                                                                           style="color:#ffffff;font-weight:600;"
                                                                           data-menu-item-number="2">О нас </a></li>
                    <li class="t456__list_item" style="padding:0 15px;"><a class="t-menu__link-item" href=""
                                                                           data-menu-submenu-hook=""
                                                                           style="color:#ffffff;font-weight:600;"
                                                                           data-menu-item-number="3">Отзывы</a></li>
                    <li class="t456__list_item" style="padding:0 0 0 15px;"><a class="t-menu__link-item"
                                                                               href="#rec330014779"
                                                                               data-menu-submenu-hook=""
                                                                               style="color:#ffffff;font-weight:600;"
                                                                               data-menu-item-number="4">Контакты</a>
                    </li>

                    <li class="t456__list_item" style="padding:0 0 0 15px;"><a class="t-menu__link-item"
                                                                               href='register.html'
                                                                               data-menu-submenu-hook=""
                                                                               style="color:#ffffff;font-weight:600;"
                                                                               data-menu-item-number="5">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <style>
            @media screen and (max-width: 980px) {
                #rec218481740 .t456__leftcontainer {
                    padding: 20px;
                }
            }

            @media screen and (max-width: 980px) {
                #rec218481740 .t456__imglogo {
                    padding: 20px 0;
                }
            }

    </style>
    <script type="text/javascript"> $(document).ready(function () {
            t456_highlight();
        });
        $(window).resize(function () {
            t456_setBg('218481740');
        });
        $(document).ready(function () {
            t456_setBg('218481740');
        });

    </script>
    <style>
            #rec218481740 .t-menu__link-item {
            }

            @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
                #rec218481740 .t-menu__link-item, #rec218481740 .t-menu__link-item.t-active {
                    opacity: 1 !important;
                }
            }

    </style>
    <script type="text/javascript"> $(document).ready(function () {
            setTimeout(function () {
                t_onFuncLoad('t_menusub_init', function () {
                    t_menusub_init('218481740');
                });
            }, 500);
        });

    </script>
    <style>
            @media screen and (max-width: 980px) {
                #rec218481740 .t-menusub__menu .t-menusub__link-item {
                    color: #ffffff !important;
                }

                #rec218481740 .t-menusub__menu .t-menusub__link-item.t-active {
                    color: #ffffff !important;
                }
            }

    </style>
    <!--[if IE 8]>
    <style>
#rec218481740 .t456 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}

    </style>
    <![endif]-->
</div>