

<div class='t396'>
            <div class="t396__artboard" data-artboard-recid="218307513" data-artboard-height="550"
                 data-artboard-height_vh="100" data-artboard-valign="center" data-artboard-upscale=""
                 data-artboard-ovrflw="">
                <div class="t396__carrier t-bgimg" data-artboard-recid="218307513"
                     data-original="https://static.tildacdn.com/tild3062-3036-4632-a338-623464636461/d946dbce69a24e0288d5.jpg"></div>
                <div class="t396__filter" data-artboard-recid="218307513"></div>
                <div class='t396__elem tn-elem tn-elem__2183075131470209944682 t-animate' data-elem-id='1470209944682'
                     data-elem-type='text' data-field-top-value="-116" data-field-top-res-960-value="-41"
                     data-field-top-res-640-value="-45" data-field-top-res-480-value="-1"
                     data-field-top-res-320-value="-54" data-field-left-value="1" data-field-left-res-960-value="0"
                     data-field-left-res-640-value="0" data-field-left-res-480-value="0"
                     data-field-left-res-320-value="0" data-field-width-value="699" data-field-width-res-960-value="940"
                     data-field-width-res-640-value="620" data-field-width-res-480-value="460"
                     data-field-width-res-320-value="300" data-field-axisy-value="center"
                     data-field-axisx-value="center" data-field-container-value="grid" data-field-topunits-value="px"
                     data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="px"
                     data-animate-style="fadeinup" data-animate-duration="1" data-animate-distance="100">
                    <div class='tn-atom' field='tn_text_1470209944682'><strong>Сервисный центр</strong><br><strong>
                        Premium Apple Services</strong><br></div>
                </div>
                <div class='t396__elem tn-elem tn-elem__2183075131470210011265' data-elem-id='1470210011265'
                     data-elem-type='text' data-field-top-value="21" data-field-top-res-960-value="100"
                     data-field-top-res-640-value="107" data-field-top-res-480-value="77"
                     data-field-top-res-320-value="78.5" data-field-left-value="10" data-field-left-res-960-value="0"
                     data-field-left-res-640-value="0" data-field-left-res-480-value="0"
                     data-field-left-res-320-value="0" data-field-width-value="700" data-field-width-res-640-value="620"
                     data-field-width-res-480-value="460" data-field-width-res-320-value="300"
                     data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid"
                     data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
                     data-field-widthunits-value="px">
                    <div class='tn-atom' field='tn_text_1470210011265'></div>
                </div>
                <div class='t396__elem tn-elem tn-elem__2183075131473773480425' data-elem-id='1473773480425'
                     data-elem-type='text' data-field-top-value="-25" data-field-top-res-960-value="65"
                     data-field-top-res-640-value="45" data-field-top-res-480-value="78"
                     data-field-top-res-320-value="63" data-field-left-value="0" data-field-left-res-960-value="0"
                     data-field-left-res-640-value="0" data-field-left-res-480-value="0"
                     data-field-left-res-320-value="0" data-field-width-value="1200"
                     data-field-width-res-960-value="940" data-field-width-res-640-value="620"
                     data-field-width-res-480-value="460" data-field-width-res-320-value="300"
                     data-field-axisy-value="center" data-field-axisx-value="center" data-field-container-value="grid"
                     data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
                     data-field-widthunits-value="px">
                    <div class='tn-atom' field='tn_text_1473773480425'></div>
                </div>
                <div class='t396__elem tn-elem tn-elem__2183075131504792630047' data-elem-id='1504792630047'
                     data-elem-type='image' data-field-top-value="-34" data-field-top-res-480-value="-17"
                     data-field-left-value="0" data-field-left-res-480-value="0" data-field-width-value="40"
                     data-field-width-res-480-value="30" data-field-axisy-value="bottom" data-field-axisx-value="center"
                     data-field-container-value="window" data-field-topunits-value="px" data-field-leftunits-value="px"
                     data-field-heightunits-value="" data-field-widthunits-value="px" data-field-filewidth-value="272"
                     data-field-fileheight-value="250">
                    <div class='tn-atom'><img class='tn-atom__img t-img'
                                              data-original='https://static.tildacdn.com/tild3966-3462-4563-b235-333731376634/arrow_white.gif'
                                              imgfield='tn_img_1504792630047'></div>
                </div>
                <div class='t396__elem tn-elem tn-elem__2183075131596713344518 t-animate' data-elem-id='1596713344518'
                     data-elem-type='button' data-field-top-value="400" data-field-top-res-960-value="400"
                     data-field-top-res-640-value="400" data-field-top-res-480-value="400"
                     data-field-top-res-320-value="400" data-field-left-value="500" data-field-left-res-960-value="380"
                     data-field-left-res-640-value="220" data-field-left-res-480-value="140"
                     data-field-left-res-320-value="60" data-field-height-value="55" data-field-width-value="200"
                     data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid"
                     data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value=""
                     data-field-widthunits-value="" data-animate-style="fadeindown" data-animate-duration="1"
                     data-animate-distance="100"><a class='tn-atom' href=" #rec221127032">Заказать ремонт</a></div>
                <div class='t396__elem tn-elem tn-elem__2183075131599734865087' data-elem-id='1599734865087'
                     data-elem-type='text' data-field-top-value="285" data-field-top-res-960-value="305"
                     data-field-top-res-640-value="285" data-field-top-res-480-value="325"
                     data-field-top-res-320-value="295" data-field-left-value="350" data-field-left-res-960-value="230"
                     data-field-left-res-640-value="70" data-field-left-res-480-value="95"
                     data-field-left-res-320-value="15" data-field-width-value="500"
                     data-field-width-res-480-value="290" data-field-axisy-value="top" data-field-axisx-value="left"
                     data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px"
                     data-field-heightunits-value="" data-field-widthunits-value="px">
                    <div class='tn-atom' field='tn_text_1599734865087'>Быстрый и качественный ремонт цифровой
                        техники<br>
                        с гарантией и бесплатной диагностикой.
                    </div>
                </div>
            </div>
        </div>