<style>#rec218307513 .t396__artboard {
            min-height: 550px;
            height: 100vh;
            background-color: #ffffff;
        }

        #rec218307513 .t396__filter {
            min-height: 550px;
            height: 100vh;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        }

        #rec218307513 .t396__carrier {
            min-height: 550px;
            height: 100vh;
            background-position: center center;
            background-attachment: scroll;
            background-image: url('https://static.tildacdn.com/tild3062-3036-4632-a338-623464636461/-/resize/20x/d946dbce69a24e0288d5.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media screen and (max-width: 1199px) {
            #rec218307513 .t396__artboard {
            }

            #rec218307513 .t396__filter {
            }

            #rec218307513 .t396__carrier {
                background-attachment: scroll;
            }
        }

        @media screen and (max-width: 959px) {
        }

        @media screen and (max-width: 639px) {
        }

        @media screen and (max-width: 479px) {
        }

        #rec218307513 .tn-elem[data-elem-id="1470209944682"] {
            color: #ffffff;
            text-align: center;
            z-index: 2;
            top: calc(50vh - 0px + -116px);
            left: calc(50% - 349.5px + 1px);
            width: 699px;
        }

        #rec218307513 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
            color: #ffffff;
            font-size: 59px;
            font-family: 'Arial', Arial, sans-serif;
            line-height: 1.15;
            font-weight: 700;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec218307513 .tn-elem[data-elem-id="1470209944682"] {
                top: calc(50vh - 0px + -41px);
                left: calc(50% - 470px + 0px);
                width: 940px;
            }

            #rec218307513 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                font-size: 62px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec218307513 .tn-elem[data-elem-id="1470209944682"] {
                top: calc(50vh - 0px + -45px);
                left: calc(50% - 310px + 0px);
                width: 620px;
            }

            #rec218307513 .tn-elem[data-elem-id="1470209944682"] {
                text-align: center;
            }

            #rec218307513 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                font-size: 37px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec218307513 .tn-elem[data-elem-id="1470209944682"] {
                top: calc(50vh - 0px + -1px);
                left: calc(50% - 230px + 0px);
                width: 460px;
            }

            #rec218307513 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                font-size: 32px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec218307513 .tn-elem[data-elem-id="1470209944682"] {
                top: calc(50vh - 0px + -54px);
                left: calc(50% - 150px + 0px);
                width: 300px;
            }

            #rec218307513 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
                font-size: 30px;
            }
        }

        #rec218307513 .tn-elem[data-elem-id="1470210011265"] {
            color: #ffffff;
            text-align: center;
            z-index: 3;
            top: calc(50vh - 0px + 21px);
            left: calc(50% - 350px + 10px);
            width: 700px;
        }

        #rec218307513 .tn-elem[data-elem-id="1470210011265"] .tn-atom {
            color: #ffffff;
            font-size: 24px;
            font-family: 'Arial', Arial, sans-serif;
            line-height: 1.5;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec218307513 .tn-elem[data-elem-id="1470210011265"] {
                top: calc(50vh - 0px + 100px);
                left: calc(50% - 350px + 0px);
            }

            #rec218307513 .tn-elem[data-elem-id="1470210011265"] .tn-atom {
                font-size: 22px;
                line-height: 1.55;
            }
        }

        @media screen and (max-width: 959px) {
            #rec218307513 .tn-elem[data-elem-id="1470210011265"] {
                top: calc(50vh - 0px + 107px);
                left: calc(50% - 310px + 0px);
                width: 620px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec218307513 .tn-elem[data-elem-id="1470210011265"] {
                top: calc(50vh - 0px + 77px);
                left: calc(50% - 230px + 0px);
                width: 460px;
            }

            #rec218307513 .tn-elem[data-elem-id="1470210011265"] .tn-atom {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec218307513 .tn-elem[data-elem-id="1470210011265"] {
                top: calc(50vh - 0px + 78.5px);
                left: calc(50% - 150px + 0px);
                width: 300px;
            }
        }

        #rec218307513 .tn-elem[data-elem-id="1473773480425"] {
            color: #ffffff;
            text-align: center;
            z-index: 4;
            top: calc(50vh - 0px + -25px);
            left: calc(50% - 600px + 0px);
            width: 1200px;
        }

        #rec218307513 .tn-elem[data-elem-id="1473773480425"] .tn-atom {
            color: #ffffff;
            font-size: 38px;
            font-family: 'Arial', Arial, sans-serif;
            line-height: 1.85;
            font-weight: 700;
            letter-spacing: 3px;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec218307513 .tn-elem[data-elem-id="1473773480425"] {
                top: calc(50vh - 0px + 65px);
                left: calc(50% - 470px + 0px);
                width: 940px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec218307513 .tn-elem[data-elem-id="1473773480425"] {
                top: calc(50vh - 0px + 45px);
                left: calc(50% - 310px + 0px);
                width: 620px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec218307513 .tn-elem[data-elem-id="1473773480425"] {
                top: calc(50vh - 0px + 78px);
                left: calc(50% - 230px + 0px);
                width: 460px;
            }

            #rec218307513 .tn-elem[data-elem-id="1473773480425"] .tn-atom {
                font-size: 19px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec218307513 .tn-elem[data-elem-id="1473773480425"] {
                top: calc(50vh - 0px + 63px);
                left: calc(50% - 150px + 0px);
                width: 300px;
            }

            #rec218307513 .tn-elem[data-elem-id="1473773480425"] .tn-atom {
                font-size: 23px;
            }
        }

        #rec218307513 .tn-elem[data-elem-id="1504792630047"] {
            z-index: 5;
            top: calc(100vh + -34px);
            left: calc(50% - 20px + 0px);
            width: 40px;
        }

        #rec218307513 .tn-elem[data-elem-id="1504792630047"] .tn-atom {
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
        }

        @media screen and (max-width: 959px) {
        }

        @media screen and (max-width: 639px) {
            #rec218307513 .tn-elem[data-elem-id="1504792630047"] {
                top: calc(100vh + -17px);
                left: calc(50% - 15px + 0px);
                width: 30px;
            }
        }

        @media screen and (max-width: 479px) {
        }

        #rec218307513 .tn-elem[data-elem-id="1596713344518"] {
            color: #0eed37;
            text-align: center;
            z-index: 6;
            top: calc(50vh - 275px + 400px);
            left: calc(50% - 600px + 500px);
            width: 200px;
            height: 55px;
        }

        #rec218307513 .tn-elem[data-elem-id="1596713344518"] .tn-atom {
            color: #0eed37;
            font-size: 14px;
            font-family: 'Arial', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 600;
            border-width: 1px;
            border-radius: 30px;
            background-position: center center;
            border-color: #fcf9f9;
            border-style: solid;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }

        #rec218307513 .tn-elem[data-elem-id="1596713344518"] .tn-atom:hover {
            background-color: #fcf9f9;
            background-image: none;
            color: #080808;
        }

        @media screen and (max-width: 1199px) {
            #rec218307513 .tn-elem[data-elem-id="1596713344518"] {
                top: calc(50vh - 275px + 400px);
                left: calc(50% - 480px + 380px);
            }
        }

        @media screen and (max-width: 959px) {
            #rec218307513 .tn-elem[data-elem-id="1596713344518"] {
                top: calc(50vh - 275px + 400px);
                left: calc(50% - 320px + 220px);
            }
        }

        @media screen and (max-width: 639px) {
            #rec218307513 .tn-elem[data-elem-id="1596713344518"] {
                top: calc(50vh - 275px + 400px);
                left: calc(50% - 240px + 140px);
            }
        }

        @media screen and (max-width: 479px) {
            #rec218307513 .tn-elem[data-elem-id="1596713344518"] {
                top: calc(50vh - 275px + 400px);
                left: calc(50% - 160px + 60px);
            }
        }

        #rec218307513 .tn-elem[data-elem-id="1599734865087"] {
            color: #ffffff;
            text-align: center;
            z-index: 7;
            top: calc(50vh - 275px + 285px);
            left: calc(50% - 600px + 350px);
            width: 500px;
        }

        #rec218307513 .tn-elem[data-elem-id="1599734865087"] .tn-atom {
            color: #ffffff;
            font-size: 20px;
            font-family: 'Roboto', Arial, sans-serif;
            line-height: 1.55;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec218307513 .tn-elem[data-elem-id="1599734865087"] {
                top: calc(50vh - 275px + 305px);
                left: calc(50% - 480px + 230px);
            }
        }

        @media screen and (max-width: 959px) {
            #rec218307513 .tn-elem[data-elem-id="1599734865087"] {
                top: calc(50vh - 275px + 285px);
                left: calc(50% - 320px + 70px);
            }
        }

        @media screen and (max-width: 639px) {
            #rec218307513 .tn-elem[data-elem-id="1599734865087"] {
                top: calc(50vh - 275px + 325px);
                left: calc(50% - 240px + 95px);
                width: 290px;
            }

            #rec218307513 .tn-elem[data-elem-id="1599734865087"] .tn-atom {
                font-size: 11px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec218307513 .tn-elem[data-elem-id="1599734865087"] {
                top: calc(50vh - 275px + 295px);
                left: calc(50% - 160px + 15px);
            }
        }</style>